/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700');

/*
Global CSS rules. ---------------------------------------------------------> 
*/

html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: "Josefin Slab";
  width: 95%; 
  margin: auto; 
  color: #444;
}

h1 {
  font-size: 2rem;
}

ul{
  list-style: none; 
  display: block; 
}

/*
Header CSS rules. --------------------------------------------------------->
*/

#headerlinks{
  margin-top: 1rem; 
  display: flex; 
  flex-wrap: wrap; 
}

#headerlinksleft{
  display: flex; 
  flex-wrap: wrap; 
}

#header-link{
  padding-right: 1rem; 
  padding-left: 1rem; 
  padding-top: .5rem; 
}

/*
Banner CSS rules. --------------------------------------------------------->
*/

#sect {
	margin-top: 1rem; 
	margin-bottom: 1rem; 
}

.jumbotron{
  margin-top: 1.5rem; 
  margin: auto; 
  width: 97.5%; 
  max-width: 100rem; 
  min-height:  30rem; 
  background-image: url("https://images.pexels.com/photos/414859/pexels-photo-414859.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb"); 
  background-size: cover; 
  background-position: center; 
}

#title{ 
  -webkit-text-stroke-width: .33px;
  -webkit-text-stroke-color: blue;
  -webkit-text-fill-color: white;
}

#title h1{
  font-size: 2.5rem; 
}

/*
Introduction CSS rules. ---------------------------------------------------------> 
*/

#introduction{ 
  min-width: 20rem; 
  max-width: 60rem; 
  width: 85%; 
  margin: auto; 
  justify-content: center; 
  padding-bottom: 1rem; 
  padding-top: 1rem; 
}

#biobox{ 
  width: 50%; 
  font-size: 1.3rem; 
  margin: auto; 
  display: inline; 
  overflow: hidden; 
} 


#bio {
  border-left: 1px solid black;
  width: 95%; 
  font-size: 1rem; 
  padding-top: .25rem; 
  padding-left: 1rem; 
}

#headshot {
  width: 50%; 
  margin: auto; 
  margin-bottom: 1rem; 
  display: inline; 
  overflow: hidden; 
}

#introduction img {
  max-width: 95%; 
  margin: auto; 
}

#description {
  width: 95%; 
  font-size: 1.2rem; 
  padding-top: .25rem; 
  padding-left: 1rem; 
}

/*
Footer CSS rules. ---------------------------------------------------------------> 
*/


#footer{
  border-top: 1px dotted black; 
  padding-top: 2rem; 
  margin-bottom: 1rem; 
}

#footer p{
  float: left; 
}

#footerlinks{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-end; 
}

#footer-link{
  padding: 5px; 
  border-left: .5px solid black; 
  border-right: .5px solid black;
  min-height: 2.5rem; 
  height: 2.75rem; 
  max-height: 5rem; 
}

#footer-link a{
}

#footer-link img{
  width: auto; 
  height: 95%; 
  max-height: 2.75rem; 
  margin: auto; 
}



@media only screen and (max-width: 480) {
  body {
    font-size: 8px; 
  }
  #bio {
    font-size: .5rem; 
  }
  .jumbotron{
    height: 20rem; 
  }
}

@media only screen and (max-width: 1000) {
  body {
    font-size: 12px; 
  }
  #bio{
    font-size: 1rem; 
  }
  .jumbotron{
    height: 25rem; 
  }
}

@media only screen and (min-width: 1024) {
  body {
    font-size: 12px; 
  }
  #bio{
    font-size: 1rem; 
  }
  .jumbotron{
    height: 35rem; 
  }
}